#logo{
}
#CoachMarie {
	padding-top:25px;
	padding-bottom: 25px;
	padding-left: 25px;
	border-radius: 50%;
}
#banner {
	padding-top: 85px;
	padding-bottom: 85px;
	text-align: center;
	background-image : url(image/banner.jpg);
	background-size: cover;
}
