.h2{
font-family: 'Love Ya Like A Sister', cursive;
color: rgb(219, 56, 71);
font-size: 117px;
padding-top: 70px;
}

h3{
font-family: 'Poiret One', cursive;
color: rgb(219, 56, 71);
text-align: center;
font-size: 50px;
padding-top: 80px;
}

#banner {
	background-image: url(images/date.jpg);
	text-align: center;
font-family: 'Poiret One', cursive;
	height: 100vh;
background-repeat: no-repeat;
background-size: cover;
size: 100px;
}

.myh2 {
	color:white;
	font-size: 50px;
}
.container{
	padding-top: 20px;
	padding-bottom: 100px;
}
.myh4{
	color:white;
	font-family: 'Poiret One', cursive;
	margin-left: 50px;
}
#banner2{
	background-color: black;
}
.list-inline{
	color:white;
	font-size: 30px;
	padding-bottom: 20px;
	margin-left: 50px;
}
h6{
	color:white;
	font-size: 17px;
	padding-top: 10px;
	margin-left: 50px;
}
.no-padding{
	padding:0px;
}
.mr10{
	margin-right: 30px;
}
.white-icon{
	color:white;
}
}