
.CoachMarie {
	padding-top:25px;
	padding-bottom: 25px;
	padding-left: 25px}

#photoMarie{
	filter: grayscale(100%);
	border-radius: 50%;
}
.list-inline{text-align: justify-all;
text-align: center;}

h2{font-size: 10px}
ul	
